<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenSaverWorkAround.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ScreenSaverWorkAround.Properties.Settings>
            <setting name="chkSunday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkMonday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTuesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkWednesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkThursday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkFriday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkSaturday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTimeIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="NirCmd" serializeAs="String">
                <value>C:\Program Files (x86)\NirCmd\nircmd.exe</value>
            </setting>
            <setting name="ScheduleTimes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </ScreenSaverWorkAround.Properties.Settings>
    </userSettings>
</configuration>